<div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="chat_section">
        <div class="popup_header">
          <h6>Agenda</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>
        <div class="container-fluid" style="background: #c5c5c5;">
          <div class="row pt-2">
            <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
              <div class="row">
                <!-- <div class="col-12">
                  <a href="../../../assets/serdia_myanmar/pdf/STAR_AGENDA_2020-2021.pdf" download><img src="../../../assets/img/pdf.png" alt="" width="40px"></a>
                </div> -->
              </div>
              <embed src="assets/agenda.pdf" frameborder="0" width="100%" height="540">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>