.bg {
  // background-image: url(../../../../assets/img/Exhibition/Exhibition3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #2d2b21;
  animation: opac .5s;

  // position: relative;
}
#back{
  position: absolute;
  top: 12px;
  left: 10px;
  background: #141433;
  color: white;
  z-index: 100;
  font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  border: 1px solid #060a39;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 40px;
  a{
      text-transform: capitalize;
      color: white;
  }
}
section{
  position: relative;
  width: 100%;
  height: 100%;
  #content{
    position: relative;
    #exhibition_content{
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: auto;
      #fullBg{
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        img{
          width: 100vw;
          height: 100vh;
        }
      }
    }
  }
}
@keyframes opac {
  from{
      opacity: 0;
  } to {
      opacity: 1;
  }
}

.dareToInnovative{
  position: absolute;
  top: 70%;
  left: 15%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_4{
  position: absolute;
  top: 44%;
    left: 57.5%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_5{
  position: absolute;
  top: 65%;
    left: 33.5%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_6{
  position: absolute;
  top: 65%;
    left: 86.8%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_7{
  position: absolute;
  top: 24%;
  left: 14%;

  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_8{
  position: absolute;
  top: 65%;
  left: 6%;

  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_9{
  position: absolute;
  top: 65%;
    left: 59.3%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_10{
  position: absolute;
  top: 44%;
    left: 35%;

  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_11{
  position: absolute;
  top: 24%;
  left: 36%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_12{
  position: absolute;
  top: 24%;
  left: 56%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_13{
  position: absolute;
  top: 24%;
  left: 78.7%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.growBySharing{
  position: absolute;
  top: 43%;
  left: 36%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.commitToSucceed{
  position: absolute;
  top: 69%;
  right: 46%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.care{
  position: absolute;
  top: 71%;
  right: 14%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}