
<!-- <span id="skip" *ngIf="videoPlay2">
  <a class="nav-link sign" (click)="skipButton()" title="SKIP" role="button">
      SKIP</a>
</span> -->
<div class="container-fluid" [ngStyle]="{'display':showVideo? 'none': 'block'}">
  
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xl-12 px-0 d-xs-block d-sm-block d-md-block d-xl-block">
      <img src="assets/login.jpg" id="web" class="login-img" alt="login image">
      <img src="assets/login-mob.jpg" id="mob" alt="login image">
      <img src="assets/mac.jpg" id="mac" alt="login image" width="100%">

      <div class="login-section-wrapper">
        <!-- <div style="color: red; text-align: center; line-height: 32px; font-weight: 600" *ngIf="msg">{{msg}}</div> -->
        <!-- <div class="brand-wrapper">
          <img src="assets/lilly/images/logo_2.png" alt="logo">
        </div> -->
        <div class="login-wrapper my-auto">
          <!-- <h1 class="login-title">Sign In</h1> -->
          
          <form *ngIf="isFoo" [formGroup]="profileForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
            <div style="color: red; text-align: center; line-height: 32px; font-weight: 600" *ngIf="msg">{{msg}}</div>
            <div class="form-group" style="background-color:#ccc7c273;padding:20px;padding-bottom: 80px;">
              <!-- <h2 class="text-white">Login</h2> -->
              <div class="input-field">
                <h4 class="text-body">Name</h4>
                <input type="name" class="form-control" required autocomplete="off" formControlName="name">
                <!-- <h4>Password</h4>
                <input type="password" class="form-control" required autocomplete="off" formControlName="pwd" placeholder="Password"> -->
                
                </div>
              <div class="input-field">
              <h4 class="text-body">Email ID*</h4>
              <input type="email" class="form-control" required autocomplete="off" formControlName="email">
              <!-- <h4>Password</h4>
              <input type="password" class="form-control" required autocomplete="off" formControlName="pwd" placeholder="Password"> -->
              
              </div>
              
            
            <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
          </div>
            <!-- <p style="  cursor: pointer;  font-size: 10px;
              text-align: left;
              color: white;
              font-weight: 700;
              margin: 0 !important;" (click)="changeReset()">Forgot Password?</p> -->
          </form>
          <form *ngIf="isFood" [formGroup]="profileForm2" #formDir="ngForm" (ngSubmit)="updatePass()">
            <div class="form-group">
              <!-- <h2>Get OTP on Mail</h2> -->
              <div class="input-field">
              <h4 class="text-white">Email ID</h4>
              <input type="email" class="form-control" required autocomplete="off" formControlName="emails" placeholder="email@example.com">
              <h4>New Password</h4>
              <input type="text" class="form-control" required autocomplete="off" formControlName="password" placeholder="Enter New Password">
              <!-- <h4>OTP</h4>
              <input type="text" class="form-control" required autocomplete="off" formControlName="otp" placeholder="Send OTP"> -->
              
              </div>
            </div>
            <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Reset Password">
          </form>
          <form *ngIf="isOTP" [formGroup]="profileForm3" #formDir="ngForm" (ngSubmit)="submitResetlink()">
            <div class="form-group">
              <h2 class="text-white">Enter Email ID</h2>
              <div class="input-field">
              <h4>Email</h4>
              <input type="email" class="form-control" required autocomplete="off" formControlName="email" placeholder="Enter Email Address">
              </div>
            </div>
            <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Verify">
          </form>
          <div *ngIf="checkmail">
            <h5 class="text-white text-danger"><b>PLEASE CHECK YOUR MAIL</b></h5>
          </div>
          <div *ngIf="spin" class="text-center">
            <img class="w-25" src="assets/loader.gif" alt="">
            </div>
          <!-- <p class="login-wrapper-footer-text">you don't have an account? <a routerLink="/signup" class="text-reset">Register</a></p>
        </div>
         <div class="brand-wrapper text-center">
          <img src="assets/lilly/images/logo_1.png"  alt="logo">
        </div> -->
      </div>
    </div>
  </div>
</div>

</div>
<div [ngStyle]="{'display':videoPlay2? 'block': 'none'}" class="videoContainer">
   <video playsinline style="z-index: 0;width: 100vw; height: 100vh;  object-fit: fill;" id="loginVideo"  preload="auto" class="videoBg" (ended)="endVideo()">
          <source src="https://d3ep09c8x21fmh.cloudfront.net/after_login.mp4" type="video/mp4">
        </video>
</div>
<div [ngStyle]="{'display':videoPlay3? 'block': 'none'}" class="videoContainer">
  <video playsinline style="z-index: 0;width: 100vw; height: 100vh;  object-fit: fill;" id="loginVideo2"  preload="auto" class="videoBg" (ended)="endVideo2()">
         <source src="https://d3ep09c8x21fmh.cloudfront.net/after_login.mp4" type="video/mp4">
       </video>
</div>
<div>
  <!-- <div id="potrait" *ngIf="videoPlay2 && potrait">
    <img src="../../assets/rotate.gif" alt="">
    <p>Switch to Landscape view</p>
  </div> -->
</div>
<!-- <main>
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12  px-0 d-none d-sm-block">
        <img src="../../assets/img/h-about.jpg" alt="login image" class="login-img">
        <div class="login-section-wrapper">
          <div class="brand-wrapper">
            <img src="assets/logo.png" height="50" alt="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Sign In</h1>
            <form [formGroup]="loginForm">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" formControlName="email" placeholder="email@example.com">
              </div>
              <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required class="form-control" placeholder="enter your passsword"
                  formControlName="password">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" (click)="login()" type="button" value="Login">
            </form>
            <a href="#!" class="forgot-password-link">Forgot password?</a>
            <p class="login-wrapper-footer-text">you have an account? <a href="#!" class="text-reset">Signin here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> -->