
#skip{
    position: absolute;
    top: 10px;
    left: 75px;
    background: #141433;
    color: white;
    z-index: 99999999999;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }
  
  
    #demo{
      font-size: 15px;
        position: absolute;
        color: white;
        top: 20px;
        text-align: center;
        right: 35px;
        padding-top: 35px;
      padding-right: 18px;
      padding-bottom: 18px;
      padding-left: 18px;
        height: 90px;
        width:90px;
        background-image: url(../../../assets/Timer.gif);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        
    }
    #live{
      font-size: 12px;
      position: absolute;
      color: white;
      top: 130px;
      width: 80px;
      right: 40px;
    }
  
  .bg {
      // background-image: url(../../../assets/img/Lobby/lobby.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      // background-color: #464646;
  
      width: 100%;
      height: 100vh;
      // position: relative;
  }
  .loby-bg {
      img{        
      width: 100vw;
      // height: 100vh;
      }
  }
  section{
      position: relative;
      .content-wrap {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin: auto;
        position: relative;
        .lobby-bg{
          position: relative;
            width: 100%;
            height: 100%;
            display: block;
        }
      } 
    }
  .reception {
          position: absolute;
          bottom: 20%;
          right: 34.5%;
          cursor: pointer;
          // background: black;
          height: 6vw;
          width: 4vw;       
      .pulsating-circle{
          position: absolute;
          top: 50%;
          left: 50%;
          cursor: pointer;
      }
  }
  .key_portfolio {
          position: absolute;
          bottom: 25%;
      left: 35.8%;
          cursor: pointer;
          // background: black;
          height: 6vh;
          width: 11vw;          
      .pulsating-circle{
          position: absolute;
          top: 55%;
          left: 50%;
      }
  }
  .auditorium-left {
      position: absolute;
      top: 35%;
      left: 6%;
      height: 8.2vh;
      width: 17.2vw;
      cursor: pointer;
      // background: black;
      .pulsating-circle{
          position: absolute;
          top: 50%;
          left: 57%;
      }
  }
  .auditorium-front {
    position: absolute;
    top: 58%;
      left: 25%;
    height: 8.2vh;
    width: 17.2vw;
    cursor: pointer;
    // background: black;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 57%;
    }
  }
  .auditorium-right {    
          position: absolute;
          top: 35%;
      right: 5.7%;
          height: 7vh;
          width: 16vw;
          cursor: pointer;
          // background: black;
      .pulsating-circle{
          position: absolute;
          top: 50%;
          left: 50%;
      }
  }
  .exhibition-hall {
      height: 7vh;
      width: 14vw;
      position: absolute;
      top: 38%;
          left: 40%;
      // background: black;
      cursor: pointer;
        .pulsating-circle{
            position: absolute;
            top: 50%;
            right: 20%;
        }
    
    }
  .registraion-desk {
      .pulsating-circle{
          position: absolute;
          top: 80%;
          left: 21.5%;
          cursor: pointer;
      }
  }
  .networking-lounge {
      height: 7vh;
      width: 14vw;
      position: absolute;
      top: 58%;
      right: 33%;
      // background: black;
      cursor: pointer;
        .pulsating-circle{
            position: absolute;
            top: 55%;
            right: 5%;
        }
    
    }
  .agenda {
      position: absolute;
      bottom: 20%;
      right: 13%;
      cursor: pointer;
      // background: black;
      height: 5vw;
      width: 4vw;
      .pulsating-circle{
          position: absolute;
          top: 50%;
          left: 50%;
          cursor: pointer;
      }
  
  }
  :focus {
    outline: -webkit-focus-ring-color auto 0px;}
  
  .heighlights {
    
      position: absolute;
      bottom: 32%;
      left: 20%;
      cursor: pointer;
      // background: black;
      height: 5vw;
      width: 3vw;
      .pulsating-circle{
          position: absolute;
          top: 50%;
          left: 50%;
          cursor: pointer;
      }
  
  }
  // #content{
  //   position: relative;
  //   #content_wrap{
  //     position: relative;
      // #bg{
      //   position: relative;
      //   width: 100%;
      //   height: 100%;
      //   display: block;
      //   img{
      //     width: 100vw;
      //     height: 105vh;
      //   }
      // }
      #player_sec{
        position: absolute;  
        top: 50.95%;
      left: 27.1%;
  
        vg-player{
          width: 12.5vw;
      height: 12vh;
        }
      }
  //   }
  // }
  // #player_sec{
  //     position: absolute;
  //     top: 39.1%;
  //     left: 49.55%;
  //     transform: translate(-50%, -50%);
  //   }
  .playScreen{
      position: absolute;
      top: 29%;
      left: 42%;
      video{
          position: absolute;
          background: black;
          padding: 2px;
          width: 16vw;
          height: 17.8vh;
          border-radius: 5px;
      }
      img{
          padding: 2px;
          width: 15.3vw;
          height: 17.8vh;
          border-radius: 5px; 
          cursor:pointer;
      }
  }
  
  #modal-video{
      border-radius:5px; 
      padding: 0 3px;   
      position: relative;
      top: 3px;
      #closeModalVideo{
          position: absolute;
          top: -16px;
          right: -16px;
          line-height: 24px;
          font-size: 30px;
          background: #e40e38;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          text-align: center;
          color: white;
          font-weight: 500;
          z-index: 1000;
          cursor: pointer;
      }
  }
    #fade {
      display: none;
      position: fixed;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 1001;
      -moz-opacity: 0.8;
      opacity: .80;
      filter: alpha(opacity=80);
    }
    
  
    #light {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 600px;
      max-height: 360px;
      margin-left: -300px;
      margin-top: -180px;
      border: 2px solid #FFF;
      background: #FFF;
      z-index: 1002;
      overflow: visible;
    }
    
    #boxclose {
      float: right;
      cursor: pointer;
      color: #fff;
      border: 1px solid #AEAEAE;
      border-radius: 3px;
      background: #222222;
      font-size: 31px;
      font-weight: bold;
      display: inline-block;
      line-height: 0px;
      padding: 11px 3px;
      position: absolute;
      right: 2px;
      top: 2px;
      z-index: 1002;
      opacity: 0.9;
      
    }
    
    .boxclose:before {
      content: "×";
    }
    
    #fade:hover ~ #boxclose {
      display:none;
    }
    
    .test:hover ~ .test2 {
      display: none;
    }
    .video {
      position: absolute;
      top: 32%;
      left: 39%;
      cursor: pointer;
      height: 14vh;
      width: 20vw;
      .pulsating-circle{
          position: absolute;
          top: 40%;
          left: 50%;
          cursor: pointer;
      }
    }
    #popup{
      background: #000000c9;
      padding: 5px;
      .chat_section{
        background: #292F35;
        .popup_header{
          height: 40px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          color: #fff;
    
          .close {
            position: absolute;
            right: 7px;
            width: 24px;
            height: 28px;
            opacity: 0.5;
          }
          .close:hover {
            opacity: 1;
          }
          .close:before, .close:after {
            position: absolute;
            right: 7px;
            content: ' ';
            height: 28px;
            width: 2px;
            background-color: #fff;
          }
          .close:before {
            transform: rotate(45deg);
          }
          .close:after {
            transform: rotate(-45deg);
          }
    
        }
      }
    }
  
  
    #modal-video{
      border-radius:5px; 
      padding: 0 3px;   
      position: relative;
      top: 3px;
      #closePopup{
          position: absolute;
          top: -16px;
          right: -16px;
          line-height: 24px;
          font-size: 30px;
          background: #e40e38;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          text-align: center;
          color: white;
          font-weight: 500;
          z-index: 1000;
          cursor: pointer;
      }
    }
    #back{
      position: absolute;
      top: 10px;
      left: 10px;
      background: #141433;
      color: white;
      z-index: 9999999;
      font-weight: 600;
      font-size: 14px;
      // padding: 2px;
      border: 1px solid #060a39;
      border-radius: 25px;
      cursor: pointer;
      margin-left: 0px;
      a{
          text-transform: capitalize;
          color: white;
      }
    }