



// body {
//     font-family: "Karla", sans-serif;
//     background-color: #fff;
//     min-height: 100vh; }
#skip{
  position: absolute;
  top: 10px;
  left: 75px;
  background: #141433;
  color: white;
  z-index: 100;
  font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  border: 1px solid #060a39;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 0px;
  a{
      text-transform: capitalize;
      color: white;
  }
}
.brand-wrapper {
    padding-top: 7px;
    padding-bottom: 8px; }
    .brand-wrapper .logo {
      height: 25px; }

  .login-section-wrapper {

    position: absolute;
    top: 0;
    bottom: 0;
    // background: #f1eaea52;
    // background: #f1eaea61;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 68px 68px;
    overflow: hidden;
  }

  .btn {line-height: 1.0;}



  /*  home css   */
  .bg {
      // background-image: url(../../assets/img/h-about.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 85vh;
      position: relative;
  }

  .header-section{background: #fff; color: #000; padding: 10px;}
  .mobile-menu{padding: 0; margin: 7px 0 0 0;}
  .mobile-menu li{
    padding: 0 0 0px 8px;
      margin: 0;
      display: inline-block;
      list-style: none;
      text-decoration: none;
    }


     .mobile-menu li a{
       font-weight: 600;
      color: #09623e;
      font-size: 15px;
    }



  .footer-nav{
    position: absolute;bottom: 0; padding: 10px; background: rgb(34,34,34);
    background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(29,29,29,0.3981967787114846) 100%);
  }


  .footer-nav1{padding: 0; margin: 7px 0 0 0;}
  .footer-nav1 li{padding: 0 0 0px 8px;
      margin: 0;
      display: inline-block;
      list-style: none;
      text-decoration: none;}


     .footer-nav1 li a{font-weight: 600;
      color: #fff;
      font-size: 15px; }




  /*  home css   */

    @media (max-width: 991px) {
      .login-section-wrapper {
        padding-left: 50px;
        padding-right: 50px; } }
    @media (max-width: 575px) {
      .login-section-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 100vh; } }

  .login-wrapper {
    
    max-width: 100%;
    padding-top: 24px;
    padding-bottom: 24px; }
    @media (max-width: 575px) {
      .login-wrapper {
        width: 100%; } }
    .login-wrapper label {
      font-size: 14px;
      font-weight: bold;
      // color: #b0adad;
      color: #495057;
    }
    .form-control{
      font-weight: 700 !important;
      border: 0px solid #ced4da !important;
    border-radius: 0rem !important;
    margin-bottom: 10px;
    }
      .login-wrapper .form-control::-webkit-input-placeholder {
        color: #7a7e83;
        font-weight: 500;
      }
      .login-wrapper .form-control::-moz-placeholder {
        color: #7a7e83;
        font-weight: 500;
      }
      .login-wrapper .form-control:-ms-input-placeholder {
        color: #7a7e83;
        font-weight: 500;
      }
      .login-wrapper .form-control::-ms-input-placeholder {
        color: #7a7e83;
        font-weight: 500;
      }
      .login-wrapper .form-control::placeholder {
        color: #7a7e83;
        font-weight: 700;
      }
    .login-wrapper .login-btn {
      padding: 12px 12px;
      background-color: #48f9fb;
      font-size: 14px;
      font-weight: bold;
      color: #000;
      // width: 35%;
      border-radius: 0px;
      margin-left: auto;
      text-align: center;
      margin-right: auto;
      margin-bottom: 14px;
    }
      .login-wrapper .login-btn:hover {
        border: 1px solid #48f9fb;
    background-color: #48f9fb;
    color: #000;
      }
    .login-wrapper a.forgot-password-link {
      // color: #080808;
      color: black;
      font-weight: 500;
      font-size: 15px;
      text-decoration: underline;
      display: inline-block;
      margin-bottom: 50px;
    }
    @media (max-width: 575px) {
      .login-wrapper a.forgot-password-link {
        margin-bottom: 16px;
      }
    }
    .login-wrapper-footer-text {
      font-size: 16px;
      font-weight: 500;
      color: #000;
      margin-bottom: 0;
      a{
        // text-decoration: none;
        font-weight: 700;
        color: #007d30;
      }
    }

  .login-title {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: 25px; }

  .login-img {
    width: 100%;
    height: 100vh;
    // -o-object-fit: cover;
    //    object-fit: cover;
    -o-object-position: left;
       object-position: left;
    }

  /*# sourceMappingURL=login.css.map */
  // input.ng-invalid.ng-touched{
  //   border-color:red;
  // }
  #potrait{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p{
        font-weight: 500;
        font-size: 14px;
        text-transform: capitalize;
    }
    img{
        width: 60%;
    }
}
.brand-wrapper {
  background: #ffffff6e !important;
  border-radius: 10px;
  padding: 11px;
  text-align: center;
}

.brand-wrapper img {
  width: 50% !important;
}

// .input-field input{
//   background-color: #fff;
//   margin-top: 10px;
//   border-radius: 10px;
//   border: none;
//     box-shadow: 1px 1px 1px 1px;

// }
h6{
  font-weight: 700;
  color: white;

}
h4{
  color: white;
}