<div class="container-fluid" id="popup">
  <div class="row">
    <div class="col-md-12 col-xl-12">
      <div class="chat_section">
        <div class="popup_header">
          <h6>Emergency Contacts</h6>
          <a class="close" (click)="closePopup()"></a>
        </div>


        <iframe src="assets/lilly/pdf/Emergency.pdf" frameborder="0" width="100%" height="550"></iframe>
       
      </div>
    </div>
  </div>
